{% extends "main_template.html" %}

{% block title %} Dashboards {% endblock %}

{% block content %}
{% include "complements/barra.html" %}
<p>Los dashboards quedarán mejor</p>
<p>Fecha: {{fecha_actual}}</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZJZVQSK5-9A?si=5E60iKeiRDL_nhlx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock %}