<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Industrial Insights</title>
</head>
<body>
    <h1>Hola Mundo, ahora desde el primer template renderizado</h1>
    <h2>Estampa de tiempo actual: {{estampa}}.</h2>
    <h2>Año: {{estampa.year}}.</h2>
    <h2>Mes: {{estampa.month}}.</h2>
    <h2>Día: {{estampa.day}}.</h2>
    <p>Nombre: {{nombre}}, Apellidos: {{apellido}}, Edad: {{edad}}</p>
    <h2>Esposa:</h2>
    <h3>Nombre: {{esposa.nombres}}.</h3>
    <h3>Apellidos: {{esposa.apellidos}}.</h3>
    <h3>Edad: {{esposa.edad}}.</h3>
</body>
</html>